fastapi==0.115.0
uvicorn[standard]==0.30.0
sqlalchemy==2.0.34
psycopg==3.1.19
python-jose[cryptography]==3.3.0
passlib==1.7.4
bcrypt==3.2.0
pydantic==2.9.2
python-multipart==0.0.9
pydantic[email]

opencv-python 
mediapipe 
numpy 
pandas 
scikit-learn 
tqdm 
joblib
